.loginForm {
    /*padding: 0px 10px;*/
}
.inputs {
    display: flex;
}
.wrapLabel {
    margin-right: 10px;
    color: #064084;
}
.signOutBtn {
    display: flex;
    align-items: flex-end;
}
.exitBtn {
    margin-top: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    width: 54px;
    height: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.53);
    border: 1px solid #2979c1;
    background-color: #eff1f5;
    background-image: linear-gradient(to top, #3d8fd7 0%, #76b2e5 100%);
}
.exitBtn:hover {
    color: #ffffff;
    background-image: none;
    background-color: #76b2e5;
}
.wrapUser {
    font-size: 16px;
    font-weight: 500;
    color: #3492e3;
}