.userFrame {
    width: 52px;
    height: 52px;
    padding: 3px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: inset 0 0 0 3px #ffffff;
    border: 1px solid #c5cfdc;
    background-color: #dcdcdc;
    display: flex;
    flex: 0 0 52px;
}
.userPhoto{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.userPhoto img {
    display: block;
    max-width: 100%;
}